# Dependency directories
**/node_modules
**/out
**/.next
**/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Git and IDE configs
.git
.gitignore
.agents
.claude
.playwright
.skills
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
